section {
    padding: 30vh 25px;
  }
  .content, .last {
    background: rgb(255, 178, 0);
    position: relative;
  }
  
  .content::after,
  .content::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 150px;
    background-color: inherit;
    bottom: -2em;
    z-index: 100;
  }
  
  .content::before {
    right: 50%;
    transform: skew(20deg)
  }
  
  .content::after {
    left: 50%;
    transform: skew(-20deg)
  }
  
@media screen and (max-width: 768px){
  section {
    padding: 30vh 0px;
  }
}