html, body {
  width: 100%;
  height: 100%;
}
body {
  background-color: rgba(52, 46, 55, 0.301);
  color: #FFFFFB;
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.8rem;
  /* font-weight: bold; */
  font-family: 'Oswald', sans-serif;
}

h2 {
  font-size: 60px;
  line-height: 90px;
}
.skills {
  margin: 7.5vh auto 0;
  width: 60%;
  min-width: 300px;
}
.skillContainer {
  /* height: 250px; */
  min-width: 200px;
  width: 45%;
  max-width: 300px;
  border: 6px #342E37 solid;
  background-color: #3a8a89;
  z-index: 2;
}

.floatR{
  float: right;
}
.floatL{
  float: left;
}

.skillContainer li {
  position: relative;
  list-style: none;
  text-align: left;
  margin-left: 1em;
  font-size: 30px;
  line-height: 45px;
}
.skillContainer li::before {
  content: '';
  position: absolute;
  width: .65em;
  height: .65em;
  left: -.8em;
  top: .5em;
  background: url("./assets/icons/greencheck.png");
  background-size: cover;
}

.clearfix::after {
  content: '';
  clear: both;
  display: table;
}

@media screen and (max-width: 768px){
  h2{
    font-size: 40px;
    line-height: 60px;
  }
  .skills {
    width: 100%;
  }
}

@media screen and (max-width: 461px){
  .skillContainer{
    float: initial;
    margin:0 auto 1vh;
    width: 100%;
  }
}